.position{
    margin-top: 69px;
}

.recruiter, .date, .description{
    margin-top: 23px;
}

.more-experience{
    margin-top: 104px;
}


.navigation2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 128px;
}